@charset "UTF-8";

/// Generate helper class with specific viewport selectors
///
/// @param { String } $selector
///     The css selector we wan't to style
///
/// @return { Value }

@mixin css-helper(
    $selector: null
) {
    #{$selector} {
        @content;
    }

    // Index value we use for our viewports iteration
    $i: 0;

    @each $viewport, $list in $viewports {
        $viewport-min-width: 0;
        $viewport-max-width: 0;

        @if ($viewport) {
            $viewport-min-width: viewport($viewport, 'min-width');
            $viewport-max-width: viewport($viewport, 'max-width');

            $selector_combined: ($selector + '--' + $viewport);

            @if $i > 0 {
                /// $viewport and smaller
                @include breakpoint(
                    $max-width: $viewport-max-width
                ) {
                    #{$selector_combined + '-and-smaller' } {
                        @content;
                    }
                }
            }

            /// $viewport specific
            @include breakpoint(
                $min-width: $viewport-min-width,
                $max-width: $viewport-max-width
            ) {
                #{$selector_combined} {
                    @content;
                }
            }

             @if $i < ( length($viewports) - 1 )  {
                /// $viewport and larger
                @include breakpoint(
                    $min-width: viewport($viewport, 'min-width')
                ) {
                    #{$selector_combined + '-and-larger'} {
                        @content;
                    }
                }
            }
        }

        $i: $i + 1;
    }
}