@charset "UTF-8";

/// Alias shorthand to get a combined-model value.
///
/// @param { String } $type
///     Specify the type defined in $combined-models.
///
/// @param { String } $property
///     The value to return from the specified model
///
/// @return { Value }

@function combined-model(
    $type: false,
    $property: false
)
{
    @if ($type != false) and ($property != false)
    {
        @return get-setting($combined-models, $type, $property);
    }
}