$typography-models: (
    'default': (
        'color': ('font', 'base'),
        'font-size': ('default'),
        'font-family' : (BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif),
        'font-weight' : 400,
        'font-style' : normal,
        'font-ligatures' : none,
        'line-height' : 1.6em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : false,
        'margin' : false
    ),
    'display1': (
        'color': false,
        'font-size': ('display1'),
        'font-family' : false,
        'font-weight' : 700,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : 1.21em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : true,
        'margin' : (0.82em 0 0.69em)
    ),
    'display2': (
        'color': false,
        'font-size': ('display2'),
        'font-family' : false,
        'font-weight' : 700,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : 1.21em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : true,
        'margin' : (0.82em 0 0.69em)
    ),
    'display3': (
        'color': false,
        'font-size': ('display3'),
        'font-family' : false,
        'font-weight' : 700,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : 1.21em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : true,
        'margin' : (0.82em 0 0.69em)
    ),
    'h1': (
        'color': false,
        'font-size': ('h1'),
        'font-family' : false,
        'font-weight' : 700,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : 1.21em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : true,
        'margin' : (0.82em 0 0.69em)
    ),
    'h2': (
        'color': false,
        'font-size': ('h2'),
        'font-family' : false,
        'font-weight' : 700,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : 1.21em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : true,
        'margin' : (0.82em 0 0.69em)
    ),
    'h3': (
        'color': false,
        'font-size': ('h3'),
        'font-family' : false,
        'font-weight' : 700,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : 1.21em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : true,
        'margin' : (0.82em 0 0.69em)
    ),
    'h4': (
        'color': false,
        'font-size': ('h4'),
        'font-family' : false,
        'font-weight' : 700,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : 1.21em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : true,
        'margin' : (0.82em 0 0.69em)
    ),
    'h5': (
        'color': false,
        'font-size': ('h5'),
        'font-family' : false,
        'font-weight' : 700,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : 1.21em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : true,
        'margin' : (0.82em 0 0.69em)
    ),
    'h6': (
        'color': false,
        'font-size': ('h6'),
        'font-family' : false,
        'font-weight' : 700,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : 1.21em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : true,
        'margin' : (0.82em 0 0.69em)
    ),
    'base-leads': (
        'color' : false,
        'font-size': ('lead'),
        'font-family' : false,
        'font-weight' : false,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : 1.6em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : false,
        'margin' : (1.14em 0 2.1em)
    ),
    'base-elements' : (
        'color' : false,
        'font-size': false,
        'font-family' : false,
        'font-weight' : false,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : 1.6em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : false,
        'margin' : (1.14em, 0)
    ),
    'quotations' : (
        'color' : false,
        'font-size': false,
        'font-family' : false,
        'font-weight' : false,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : 1.6em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : false,
        'margin' : (1.14em 0 1.14em, 2.1em)
    ),
    'list-items' : (
        'color' : false,
        'font-size': false,
        'font-family' : false,
        'font-weight' : false,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : 1.6em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : false,
        'margin' : (0.69em 0 0.69em, 1.8em)
    ),
    'description-titles' : (
        'color' : false,
        'font-size': false,
        'font-family' : false,
        'font-weight' : 700,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : 1.2em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : false,
        'margin' : (2.1em 0 0.69em)
    ),
    'description-items' : (
        'color' : false,
        'font-size': false,
        'font-family' : false,
        'font-weight' : false,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : 1.6em,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : false,
        'margin' : (0.69em, 0, 0)
    ),
        'anchors' : (
        'color' : ('primary', 'base'),
        'font-size' : false,
        'font-family' : false,
        'font-weight' : false,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : false,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : false,
        'margin' : false
    ),
    'linebreaks' : (
        'color' : ('border', 'base'),
        'font-size' : false,
        'font-family' : false,
        'font-weight' : false,
        'font-style' : false,
        'font-ligatures' : false,
        'line-height' : false,
        'letter-spacing' : false,
        'text-transform' : false,
        'font-smoothing' : false,
        'margin' : (2em, 0)
    )
);