@if get-setting($tipicss, 'objects', 'columns') {
    .columns {
        display: table;
        font-size: 0; /* Remove the white space between columns */
        text-align: left; /* Prevent columns from aligning to center or right when an ancestor element has the text-align property */
        direction: ltr;
		table-layout: fixed;
		width: 100%;
        word-spacing: 0; // Reset word spacing inherited from ancestor elements

        > div {
            vertical-align: top;
            display: inline-block;
            width: 100%;
            text-align: left;

            @include responsive-font-size('base');

            &.align-top {
                vertical-align: top;
            }

            &.align-middle {
                vertical-align: middle;
            }

            &.align-bottom {
                vertical-align: bottom;
            }
        }
    }

    .columns--reverse {
        direction: rtl;
    }

    .columns--left {
        text-align: left;
    }

    .columns--right {
        text-align: right;
    }

    .columns--center {
        text-align: center;
    }

    @include columns-models($columns-models);

}