.wrapper {
    margin-left: auto;
    margin-right: auto;
}

@each $wrapper-model, $list in $wrapper-models {

    .wrapper#{get-css-modifier($wrapper-model)} {
        @if wrapper-model($wrapper-model, 'padding') {
            padding: wrapper-model($wrapper-model, 'padding');
        }

        @if wrapper-model($wrapper-model, 'max-width') {
            max-width: wrapper-model($wrapper-model, 'max-width');
        }
    }

}