@charset "UTF-8";

/// Returns suffix as string for class modifiers
///
/// @param { String } $name
///     Name to check
///
/// @return { Value }

@function get-css-modifier(
    $name
) {
    $suffix: '--' + $name;

    @if $name == 'default' {
        $suffix: '';
    }

    @return $suffix;
}